* {
    padding: 0;
    margin: 0;
    font-family: 楷体, sans-serif;
}

.content-left1 p{
	color: #fff;
    width: 40%;
    display: inline-block;
    position: relative;
    float: left;
    text-align: left;
    padding-left: 50px;
    margin-bottom: 50px;
}

p {
    color: black;
}

/*头部*/
.header {
    width: 100%;
    height: 100px;
    background-color: gray;
    border-bottom: 5px;
}

.header-center {
    color: snow;
    width: 100%;
    font-family: arial;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    top: 20px;
    position: absolute;
}

.header-top {
    width: 100%;
    top: 0;
    height: 20px;
}

.header-top-left {
    top: 5px;
    position: absolute;
    left: 5px;
    color: snow;
}

.header-top-right {
    top: 5px;
    right: 5px;
    position: absolute;
    color: snow;
}

/*导航栏*/
.container {
    position: relative;
    top: 10px;
    width: 100%;
    height: 80px;
}

/*黑底部分*/
.container-imfo {
    width: 100%;
    height: 40px;
    background-color: black;
}

.container-imfo li {
    margin-top: 5px;
    margin-right: 20px;
    list-style: none;
    display: inline;
    border-right: black;
    float: right;
}

.container-imfo li a {
    text-decoration: none;
    font-family: "微软雅黑";
    color: darkgray;
    font-size: medium;
}

.container-imfo a:hover {
    font-size: large;
    color: #00FFFF;
    opacity: 0.7;
}

/*白底部分*/
.container-guide {
    background-color: #DCDCDC;
    width: 100%;
    height: 80px;
}

.container-guide ul {
    vertical-align: middle;
    display: inline-block;
}

.container-guide li {
    margin-top: 5px;
    margin-left: 95px;
    list-style: none;
    display: inline;
    border-right: black;
    float: right;
}

.container-guide img {
    left: 47%;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.container-guide li a {
    position: relative;
    margin-left: 90px;
    text-decoration: none;
    font-weight: 500;
    font-family: "agency fb";
    color: grey;
    font-size: 30px;
}

.container-guide a:hover {
    color: darkslategrey;
}

/*内容部分*/
.content {
    left: 20%;
    position: absolute;
    top: 50px;
    width: 60%;
    background-color: #DCDCDC;
    border: 5px;
}

/*左半边*/
.content-left {
    height: auto;
    border: 3px;
}

.content-left1 {
    width: 100%;
    height: 400px;
    position: relative;
    top: 0px;
    border: 5px;
    background-color: #515151;
    z-index: 2;

}

.content-left1 p {
    font-weight: 100;
    font-size: x-large;
    display: inline-block;
}

#button1 {
    font-size: 15px;
    text-decoration: none;
    position: absolute;
    top: 30px;
    color: darkgray;
    margin: 0;
    padding: 0;
    left: 90%;
    z-index: 5;
}

#button1:hover {
    color: aqua;
}

#content-left-wannan {
    width: 100%;
    text-align: center;
    height: 400px;
    position: absolute;
    top: 0px;
    z-index: 3;
    visibility: hidden;
    background-color: #808080;
}

.content-left-wanna input, select {
    width: 100px;
    height: 18px;
    margin: 20px 30px;
    font-size: 12px;
    vertical-align: middle;
}

/*个人履历*/
.content-description {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    padding: 10px;
    width: 97.5%;
    height: 400px;
    background-color: #515151;
}

.content-description h1 {
    text-align: center;
    color: snow;
}

.content-description textarea {
    position: relative;
    top: 80px;
    float: right;
    width: 60%;
    height: 200px;
}

.content-description p {
    position: absolute;
    top: 130px;
    left: 240px;
}

.content-description img {
    position: absolute;
    top: 10px;
    left: 10px;
}

.content-description input {
    position: absolute;
    left: 80px;
    bottom: 180px;
}

/*底部*/
.footer {
    width: 60%;
    background-color: darkgray;
    top: 1070px;
    position: absolute;
    left: 20%;
    height: 250px;
}

.footer1, .footer2, .footer3 {
    text-align: center;
    top: 0px;
    position: relative;
    margin-right: 50px;
    display: inline-block;
    width: 25%;
    height: 300px;
}

.footer li {
    margin-top: 25px;
    list-style: none;
}

.footer1 ul {
    left: 20px;
    position: absolute;
    top: 20px;
}

.footer2 ul {
    left: 60px;
    position: absolute;
    top: 20px;
}

.footer3 ul {
    right: -100px;
    position: absolute;
    top: 20px;
}

.footer a {
    font-family: "arial, helvetica, sans-serif";
    color: white;
    text-decoration: none;
    margin: 15px;

}

/*返回顶部*/
#btn {
    position: fixed;
    right: 100px;
    bottom: 100px;
    height: 40px;
    width: 40px;
}

#btn img {
    width: 40px;
    height: 40px;
}

form p{
    color: #fff;

}
