@charset "utf-8";
*{margin:0;padding:0;}
ul,li{list-style:none;}
a{text-decoration:none;color:#3F419E;cursor: pointer;}
img{display:block;}
body,html{
	width:100%;
	height:100%;
	
}	
input{
	outline:none;
}
/* logo开始*/
#logo{ 
	width:500px;
	height:117px;
	margin:30px auto 40px;

}
#logo a{
	font-weight: 600;
	color: black;
	font-size: 100px;
	font-family: "arial, helvetica, sans-serif";
	display:block;
	width:500px;
	height:117px;
	text-align: center;
	vertical-align: center;
}
.box{
	width:100%;
	height:400px;
	
}
/*logo结束*/
 .box1{
 	float:left;
 	height:400px;
    width:600px;
    border:1px solid white;
 }
 .box1 img{
 	display:block;
 	width:100%;
 	height:100%;
 }

/*登录开始*/
 .box2{
 	float:right;
 	width:500px;
 	height:400px;
 	margin-right:100px;
 	
 }
 #hezi{
 	border:1px solid black;
 	width:500px;
 	height:100%;
 }
 .bigBox .login-title{
 	width:100%;
 	border-bottom:1px dotted #eee;
 	position:relative;
 	height:60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 60px;
  font-size: 20px;
 }
 .bigBox .login-title p{
  cursor: pointer;
 }
 #biaoti{
 	visibility: visible;
 }


#yonghu-login{
	width:500px;
	height:340px;
	visibility: visible;
}
#form1,#form2{
    width:500px;
   

}
.yonghuBox,#passW{
  width:500px;
  height:53px;
  position:relative;
  border-bottom:1px dotted #eee;
}
  label, span, input{
	position:absolute;
	top:0;
}
  label{
	height:50px;
	line-height:48px;
	font-size:18px;
	left:20px;
	color:#9fadc6;
}

  input{
   width:250px;
   height:50px;
   line-height:50px;
   font-size:18px;
   left:90px;
   
}
 span{
	color:red;
	width:150px;
	height:32px;
	line-height:20px;
	font-size:11px;
  right:20px;
  top:19px;
}
.yonghu-login input{
	border:0;
}

.btn{
	margin-top:30px;
	width:500px;
	height:43px;
}
.btn #sumbit{
	display:block;
	width:302px;
	height:43px;
	margin:0 auto;
	position:static;
	line-height:43px;
	color:white;
	background-color:rgb(26,138,250);
	border:0;
	cursor:pointer;
}

.login-forget{
	width:450px;
	height:20px;
	margin:20px;
	border-bottom:1px dotted #eee;
}
.login-forget p{

	float:left;
	width:175px;
	height:16px;
	color:#9fadc6;
	font-size:13px;
	line-height:16px;
	
}
.login-forget a{
  color:rgb(26,138,250);

}
.login-forget a:nth-child(2){
  float:right;
}
.loginOther{
	width:671px;
	height:11px;
}
#othermethod{
	height:20px;
	line-height:20px;
	margin-left:180px;
	color:#9fadc6;
	cursor:pointer;

	
}
.loginOther{
	height:50px;
	margin-left:170px;
}
.loginOther a{
	display:inline-block;
	width:50px;
	height:50px;
	background:red;
	
}
.loginOther a img{
	background-color: white;
	display:block;
	height:50px;
}
/*登录结束*/
/*注册界面开始*/
  .bigBox{
  	
  	width:500px;
  	height:78px;
  	border-bottom:1px dotted black;
  	
  	
  }
  .bigBox .header img{
  	position:absolute;
  	height:36px;
  	width:87px;
  	top:21px;
  	right:38px;
  }
  .bigBox .header .zhuce{
  	position:absolute;
  	width:110px;
  	height:57px;
  	line-height:57px;
  	font-size:25px;
  	top:18px;
  	left:190px;
  	text-align:center;
  	color:#a8a0b7;
  }
 /* .shouji input,.mima input,.qurenmima input,.duanxinyangzhengma input{
  	border:0;
  }*/
   #form3 input{
   	border:0;
   	left:121px;
   }
  
   #yanzhengma{
   	cursor: pointer;
   	color: black;
   	font-size: medium;
   	line-height: 20px;	
   	}
   #form3 .btn input{
   	margin-top:-15px;
   }
   #form3 .login-forget a:nth-child(3){
   	margin-left:123px;
   }
   #form3 .login-forget{
   	border-bottom:none;
   }
/*注册界面结束*/
#zhucejiemian{
	position: absolute;
	width: 500px;
	height: 500px;
	margin-right: 100px;
 	top: 240px;
 	float: right;
}
.header span:nth-child(1){
	margin-left: 80px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    width: 73px;
    height: 34px;
    line-height: 34px;
    color: #262B33;
    cursor: pointer;
    top: 20px;
    left: 20px;
}
.header span:nth-child(2){
	margin-left: 80px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    width: 73px;
    height: 34px;
    line-height: 34px;
    color: #262B33;
    cursor: pointer;
    top: 20px;
    right: 80px;
}
.header{
	position:relative;
	width: 500px;
	height: 60px;
	border-bottom: 1px dotted #eee;
}

.info{
  display: none;
}
.error {
  color:red;
  width:150px;
  height:32px;
  line-height:20px;
  font-size:11px;
  right:20px;
  top:19px;
  display: block;
}
.state_line {
  padding: 0 5px;
  border-bottom: 2px solid red;
}

.registerSuccess {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  border-radius: 30px;
  line-height: 200px;
  text-align: center;
  font-size: 26px;
  color: #fff;
  background: rgba(0, 0, 0, .3);
}